/* RESET */ 
:root{
    --espacamento: 16px;
    --cor-primaria: rgba(255, 0, 0, 0.5);
    --cor-secundaria: rgba(0, 0, 255, 0.5);
    --cor-secundaria-light: rgba(0, 0, 255, 0.15);
    --fonte-primaria: 'Quicksand', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 

body,
header,
main,
footer {
    padding: var(--espacamento);
}


h1{
    margin: var(--espacamento) auto ; 
    padding: var(--espacamento) ;
    width: 50% ;
}



h2 {
    margin: var(--espacamento) auto ; 
    padding: var(--espacamento) ;
    width: 100% ;
}

header,
footer {
    background-color: var(--cor-secundaria-light);
}

.promocoes{
    border: 2px solid var(--cor-primaria);
    margin: var(--espacamento) auto;
}

.promocoes img {
    width: 100%;
}

#banner{
    background-color: #dce5e2;
    background-image: url(https://www.america-retail.com/static/2020/09/farmacias-1.jpg);
    background-attachment: fixed;
    height: 432px;
}

.btn{
    border: 1px solid black;
    border-radius: 0 calc(var(--espacamento)/4);
    display: block;
    margin: var(--espacamento) auto;
    padding: calc(var(--espacamento)/4) calc(var(--espacamento)/2);
    text-decoration: none;
    width: max-content;
}

.cta{
    background-color: var(--cor-primaria);
    color: black;
    font-family: var(--fonte-primaria);
    font-weight: bolder;
    text-align: center;
}

#LogoTopo {
    border: 3px solid black;
    border-radius: 50%;
}

#LogoTopo img{
    transition: all .6s ease-out;
}

#LogoTopo:hover img{
    transform: rotateZ(360deg);
}

[ href*="promo "] img {
    width: 100%
};

.categoria{
    background-color: var(--cor-secundaria-light);
}

.categoria__produto {
    border-radius: 4px;
}

.categoria__produto--promocao {
    border: 4px solid var(--cor-secundaria);
}

header{
    align-items: center;
    display: flex;
    /* flex-direction: row;
    flex-wrap: nowrap; */
    flex-flow: row nowrap;
    justify-content: space-between;
}

header > a {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 80px;
}

header nav{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

ul{
    display: flex ;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

li{
    padding: 16px;
}